<section id="library-section">
        <div class="library-nav">
          <div id="library-heading"><strong>Your library</strong></div>
          <div class="icons">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
          </div>
        </div>
        <button id="playlist-btn">Playlists</button>

        <div id="search-bar">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="search" placeholder="Search Your Playlist" />
        </div>

        <div class="blocks">
          <a href="/songs/likedSongs" class="favourite-btn"><div class="block">
            <div>
              <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84e913f0317b78a75653c17e22" alt="">
            </div>
              <p>Your favourites</p>
          </div></a>
          <a href="/songs/history"  class="favourite-btn">
            <div class="block">
              <div>
                <img
                  src="https://cdn-icons-png.flaticon.com/512/2961/2961948.png"
                  alt="History Songs Cover"
                />
              </div>
              <p>History</p>
            </div>
          </a>
          
        </div>
        
      </section>